# General
.DS_Store
Thumbs.db
*.log

# Node.js
node_modules/
dist/

# Java
*.class

# Python
*.py[cod]

# Java Packages
*.jar

# Maven
target/

# JetBrains IDEs
.idea/
*.iml

# Android
.gradle/
build/
local.properties
proguard/
bin/
gen/
out/
.navigation/
captures/
.externalNativeBuild
.cxx/
#google-services.json
*.apk
*.aar
*.ap_
*.aab
*.dex

# Android Studio
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml

# Uncomment to ignore keystore files
# *.jks
# *.keystore

# External tools
freeline.py
freeline/
freeline_project_description.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Version control
vcs.xml

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Unit test reports
TEST*.xml

# App specific cases
app/release/output.json
.idea/codeStyles/